<!DOCTYPE html>
<html >

  <head>

    <meta charset="utf-8">

    <link rel="icon" href="data:,">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">

    <title>Database Query</title>

    <style>

      table {
        border-collapse: collapse;
        width: 90%;
        border: 1px solid black;
        margin-left: 50px;
      }

      th {
        background-color: #2E86C1;
      }

      th, td {
        text-align: left;
        border: 1px solid black;
        padding-left: 10px;
      }

      tr:nth-child(even) {
        background-color: #D6EAF8; /* #D8F3B6; */
      }

      tr:nth-child(odd) {
        background-color: #AED6F1 ; /*#F3F3B6; */
      }

      input, label{
        margin-left: 10px;
        margin-bottom: 10px;
      }

      body {
        background-color: #EBFDFA;
        text-align: left;
      }

      input[type=submit] {
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        background-color: white;
        color: black;
        border: 2px solid #2E86C1; /* #4CAF50 Green */
        transition-duration: 0.4s;
        margin-left: 50px;
      }

      input[type=submit]:hover {
        background-color: #2E86C1; /*#4CAF50 Green */
        color: white;
      }

      header {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      p.c1 {
        margin-left: 50px;
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      function retainValue(){
        {% if database == 'mysql' %}
        document.getElementById('mysql').checked = true;
        {% else %}
        document.getElementById('redshift').checked = true;
        {% endif %}
        {% if dataset == 'instacart_normalized' %}
        document.getElementById('instacart_normalized').checked = true;
        {% else %}
        document.getElementById('instacart').checked = true;
        {% endif %}
        document.getElementById('query').innerHTML = "{{ query }}".replaceAll("?", "&#13");
      }
    </script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#table').after('<div id="nav"></div>');
        var rowsShown = 10;
        var rowsTotal = $('#table tbody tr').length;
        var numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
          var pageNum = i + 1;
          $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
        }
        $('#table tbody tr').hide();
        $('#table tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function(){

          $('#nav a').removeClass('active');
          $(this).addClass('active');
          var currPage = $(this).attr('rel');
          var startItem = currPage * rowsShown;
          var endItem = startItem + rowsShown;
          $('#table tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
          css('display','table-row').animate({opacity:1}, 300);
        });
      });
    </script>  -->

    <script type="text/javascript">
      $.fn.pageMe = function(opts) {
        var $this = this,
        defaults = {
          perPage: 10,
          showPrevNext: false,
          hidePageNumbers: false
        },
        settings = $.extend(defaults, opts);

        var listElement = $this;
        var perPage = settings.perPage;
        var children = listElement.children();
        var pager = $('.pager');

        if (typeof settings.childSelector != "undefined") {
          children = listElement.find(settings.childSelector);
        }

        if (typeof settings.pagerSelector != "undefined") {
          pager = $(settings.pagerSelector);
        }

        var numItems = children.size();
        var numPages = Math.ceil(numItems / perPage);

        pager.data("curr", 0);

        if (settings.showPrevNext) {
          $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }

        var curr = 0;
        // Added class and id in li start
        while (numPages > curr && (settings.hidePageNumbers == false)) {
          $('<li id="pg' + (curr + 1) + '" class="pg"><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
          curr++;
        }
        // Added class and id in li end

        if (settings.showPrevNext) {
          $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }

        pager.find('.page_link:first').addClass('active');
        pager.find('.prev_link').hide();
        if (numPages <= 1) {
          pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");

        children.hide();
        children.slice(0, perPage).show();
        if (numPages > 5) {
          $('.pg').hide();
          $('#pg1,#pg2,#pg3,#pg4,#pg5').show();
          $("#pg5").after($("<li class='ell'>").html("<span>...</span>"));
        }

        pager.find('li .page_link').click(function() {
          var clickedPage = $(this).html().valueOf() - 1;
          goTo(clickedPage, perPage);
          return false;
        });
        pager.find('li .prev_link').click(function() {
          previous();
          return false;
        });
        pager.find('li .next_link').click(function() {
          next();
          return false;
        });

        function previous() {
          var goToPage = parseInt(pager.data("curr")) - 1;
          goTo(goToPage);
        }

        function next() {
          goToPage = parseInt(pager.data("curr")) + 1;
          goTo(goToPage);
        }

        function goTo(page) {
          var startAt = page * perPage,
          endOn = startAt + perPage;

          // Added few lines from here start

          $('.pg').hide();
          $(".ell").remove();

          var prepg = $("#pg" + page).show();
          var currpg = $("#pg" + (page + 1)).show();
          var nextpg = $("#pg" + (page + 2)).show();

          var preprepg = $("#pg" + (page - 1)).show()
          var nextnextpg = $("#pg" + (page + 3)).show()

          //if (prepg.length == 0) nextnextpg = $("#pg" + (page + 4)).show();
          //if (preprepg.length == 1 && nextnextpg.length == 0) {
          //  preprepg = $("#pg" + (page - 1)).show();
          //}

          //if (curr > 5) {
          if (page > 2) preprepg.before($("<li class='ell'>").html("<span>...</span>"));
          if (page < curr - 3) nextnextpg.after($("<li class='ell'>").html("<span>...</span>"));
          //}
          currpg.addClass("active").siblings().removeClass("active");
          // Added few lines till here end


          children.css('display', 'none').slice(startAt, endOn).show();

          if (page >= 1) {
            pager.find('.prev_link').show();
          } else {
            pager.find('.prev_link').hide();
          }

          if (page < (numPages - 1)) {
            pager.find('.next_link').show();
          } else {
            pager.find('.next_link').hide();
          }

          pager.data("curr", page);
          /*pager.children().removeClass("active");
          pager.children().eq(page + 1).addClass("active");*/

        }
      };

    $(document).ready(function(){

      $('#myTable').pageMe({pagerSelector:'#myPager', showPrevNext:true, hidePageNumbers:false, perPage:10});

    });
    </script>


    <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript">
      $(document).ready(function(){
        $("#table").DataTable();
      });
    </script>-->


  </head>

  <body onload="retainValue()">

    <h2 style="text-align: center">Database Query</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <form method="POST" action="">

      <p class="c1"><b>Please select a database:</b></p>

      <input type="radio" id="mysql" name="database" value="mysql" style="margin-left: 50px" required checked>
      <label for="mysql">MySQL</label><br>

      <input type="radio" id="redshift" name="database" value="redshift" style="margin-left: 50px">
      <label for="redshift">Redshift</label>

      <p class="c1"><b>Please select a dataset:</b></p>

      <input type="radio" id="instacart_normalized" name="dataset" value="instacart_normalized" style="margin-left: 50px" required checked>
      <label for="instacart_normalized">instacart_normalized</label><br>

      <input type="radio" id="instacart" name="dataset" value="instacart" style="margin-left: 50px">
      <label for="instacart">instacart</label><br><br>

      <label for="query" style="margin-left: 50px"><b>Please enter your query:</b></label>
      <p></p>
      <textarea id="query" name="query" placeholder="Enter your query here..." cols="100" rows="10" style="margin-left: 50px"></textarea>
      <p></p>
      <input type="submit" value="Execute" />
      <!--<button type="submit"><b>Execute</b></button>-->
    </form>

    <p class="c1"><b>Execution time: {{ time }}</b></p>
    <p class="c1"><b>{{ num }}</b></p>

    <table class="tb_pagination_width" cellspacing="0">
      <thead>
        {% for i in table_head %}
        <th>{{ i }}</th>
        {% endfor %}
      </thead>
      <tbody id="myTable">
        {% for i in table_data %}
        <tr>
          {% for j in i%}
          <td> {{ j }} </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-md-12 text-center">
      <ul class="pagination" id="myPager"></ul>
    </div>

  </body>
</html>
